*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: crimson;
}
#header-nav{
    background-color: yellow;
}
.navbar-header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}